
<div class="jumbotron">
      <h3>Sentinel Colors DB</h3>

 <p>The Color {{dataValues.colorName}} has been Added.</p>
 <p> <a href="/index"> Add Another Color </a></p>
 <p> <a href="/table"> View Color Table </a></p>

</div>

