<div class="businessDiv jumbotron">
    <h3>Search Chicago Businesses</h3>
    <div>
        <form>
            <div class="input-group mb-3">
                <input type="text" id="searchBy" class="form-control form-control-sm" placeholder="Search"
                    aria-label="Search" aria-describedby="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="goSearch">Search</button>
                </div>
            </div>
        </form>
    </div>
    <small id="showingResults" class="form-text text-muted"></small>
</div>


<div id="resultsDiv"></div>

<script type="text/javascript">

    function loadBusinessData() {
        event.preventDefault();
        fetch('/api/search/' + $('#searchBy').val().toLowerCase()).then(function (data) {
            return data.json();
        }).then((res) => {
            $('#resultsDiv').empty();
            $('#showingResults').text('');
            var data = res.results;
            for (var i = 0; i < data.length; i++) {

                var html = '<div class="jumbotron pt-2 pb-4" tabindex="-1" role="dialoog" aria-labelledby="businessModal" aria-hidden="true">' +
                    '<div class="modall-dialog" role="documentt">' +
                    '<div class="modall-content" style="width: 700px;">' +
                    '<div class="modal-header pl-0"><h4 id="businessName" class="text-primary">' + data[i].legal_name + '</h4></div>' +
                    '<div class="modall-body pt-0 pr-0">' +
                    '<form>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="doing_business_as_name" class="col-sm-3 col-form-label">Business Name:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="doing_business_as_name">' + data[i].doing_business_as_name + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="legal_name" class="col-sm-3 col-form-label">Legal Name:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="legal_name">' + data[i].legal_name + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="license_id" class="col-sm-3 col-form-label">License Id:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="license_id">' + data[i].license_id + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="account_number" class="col-sm-3 col-form-label">Account Number:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="account_number">' + data[i].account_number + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="Address" class="col-sm-3 col-form-label">Address:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="address">' + data[i].address + ', ' + data[i].city + ', ' + data[i].state + ', ' + data[i].zip_code + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="license_description" class="col-sm-3 col-form-label">License Description:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="license_description">' + data[i].license_description + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="business_activity" class="col-sm-3 col-form-label">Business Activity:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="business_activity">' + (data[i].business_activity === null ? '' : data[i].business_activity) + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="date_issued" class="col-sm-3 col-form-label">License Issued:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="date_issued">' + moment(data[i].date_issued).format('MM/DD/YYYY hh:mm A') + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-group row mb-0">' +
                    '<label for="expiration_date" class="col-sm-3 col-form-label">License Expires:</label>' +
                    '<div class="col-sm-7">' +
                    '<span class="form-control-plaintext" id="expiration_date">' + moment(data[i].expiration_date).format('MM/DD/YYYY hh:mm A') + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</form>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                $('#resultsDiv').append(html);
            }
            $('#showingResults').text('Displaying ' + data.length + ' results (' + res.processingTime / 1000 + ' seconds)');
        });

        $('#searchBy').val('');
    }

    $("#goSearch").click(() => {
        loadBusinessData();
    });

    $(document).keypress(function (e) {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13' && $('#searchBy').val().length > 0) {
            loadBusinessData();
        }
    });
</script>