    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <canvas id="TypeChart" width="200px" height="200px"></canvas>
      </div>
      <div class="col-lg-6 col-sm-12">
        <canvas id="CategoryChart" width="200px" height="200px"></canvas>
      </div>
    </div>
