    <div class="row">
      <div class="col-lg-7 col-sm-12"> 
    <div class="jumbotron">
      <center><h3>Add A Color</h3></center>
        <form id="colorCode" action="/colors/create" method="POST">
          <div class="messages text-danger d-none">This color already exists</div>
          <div class="controls">
            <!-- <div class="form-row"> -->
              <div class="form-group col-md-12">
                <label for="color"><i class="text-danger mr-1">*</i>Color Name</label>
                <input type="text" class="form-control form-control-sm" name="colorName" id="color" placeholder="Color" required="required" data-error="Color is required.">
                <div class="help-block with-errors"></div>
              </div>
            <!-- </div> -->
                <!-- <div class="form-row"> -->
                <div class="form-group col-md-12">
                      <label for="category"><i class="text-danger mr-1">*</i>Category</label>
                      {{!-- <input type="text" class="form-control" name="category" id="category" placeholder="Category" required="required" data-error="Category is required."> --}}
                        <select class="form-control form-control-sm" name="category" id="category">
                          <option selected value="Monochromatic">Monochromatic</option>
                          <option value="Complementary">Complementary</option>
                          <option value="Color Triads">Color Triads</option>
                          <option value="Split Complementary">Split Complementary</option>
                          <option value="Warm Colors">Warm Colors</option>
                          <option value="Cool Colors">Cool Colors</option>
                        </select>
                      <div class="help-block with-errors"></div>
                    </div>
                  <!-- </div> -->
              
                  <!-- <div class="form-row"> -->
                  <div class="form-group col-md-12">
                      <label for="colorType"><i class="text-danger mr-1">*</i>Color Type</label>
                      <select class="form-control form-control-sm" name="colorType" id="colorType">
                        <option value="Primary">Primary</option>
                        <option value="Secondary">Secondary</option>
                        <option selected value="Tertiary">Tertiary</option>
                        <option value="None">None</option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                  <!-- </div> -->
                          
          <!-- <div class="form-row"> -->
          <div class="form-group col-md-12">
              <label for="hex"><i class="text-danger mr-1">*</i>Hex Code</label>
              <input type="text" class="form-control form-control-sm" name="hex" id="hex" value="#" placeholder="hex" required="required" data-error="Hex is required.">
              <div class="help-block with-errors"></div>
            </div>
          <!-- </div> -->
          <button type="submit" class="btn btn-secondary btn-sm float-right mr-3">Submit</button>
        </div>
        </form>
    </div>
    </div>

    </div>