
    <div class="chartsDiv jumbotron">
      <h3>Color Lab DB</h3>
      <div>
        <div id="noColor"></div>
        <div class="tableDiv"></div>
        <table id="colorsTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                <th scope="col">S/No</th>
                <th scope="col" style="text-align: center">Color Name</th>
                <th scope="col" style="text-align: center">Category</th>
                <th scope="col" style="text-align: center">Type</th>
                <th scope="col" style="text-align: center">Hex</th>
                <th scope="col" style="text-align: center">Options</th>
                </tr>
            </thead>
            <tbody class="colorsTableBody"></tbody>
        </table>
      </div>
    </div>