.star{
    color: red;
}

#searchButton{
    color: white;
}

.hexColor{
    height: 25px;
    width: 25px;
    border-radius: 10%;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

body {
    background-image: url("../images/colors-bg.jpg");
    background-position: center;
    background-size: cover;
}

.bg-light{
    background-color: unset !important;
}

.chartsDiv{
    background-color: white;
    opacity: 0.95;
    padding: 4rem 2rem;
}