.star{
    color: red;
}

#searchButton{
    color: white;
}

.hexColor{
    height: 25px;
    width: 25px;
    border-radius: 10%;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

body {
    background-image: url("../images/colors-bg.jpg");
    background-position: center;
    background-size: cover;
}

.bg-light{
    background-color: unset !important;
}

.chartsDiv{
    background-color: white;
    opacity: 0.95;
    padding: 4rem 2rem;
}

.selectize-input{
    border: none !important;
}

.searchBy .form-control-sm{
    padding: 0rem;
}

.countryCodes .form-control{
    padding: 0.5rem 0.5rem;
}

.countryCodes > .selectize-input{
    line-height: 1.6;
    font-size: 14px;
    padding: unset !important;
}

.selectize-dropdown-content{
    background: white;
}

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }