    <div class="row">
      <div class="col-8"> 
<div class="jumbotron">
  <center><h3>Edit Color</h3></center>
    <form id="colorCode" action="/colors/{{id}}/update?_method=PUT" method="POST">
        <!-- <div class="form-row"> -->
          <div class="form-group col-md-12">
            <label for="inputEmail4">Color</label>
            <input type="text" class="form-control form-control-sm" name="colorName" id="color" value="{{colorName}}" placeholder="Color">
          </div>
        <!-- </div> -->

            <!-- <div class="form-row"> -->
            <div class="form-group col-md-12">
                  <label for="inputEmail4">Category</label>
                  {{!-- <input type="text" class="form-control" name="category" id="category" value="{{category}}" placeholder="Category"> --}}
                    <select class="form-control form-control-sm" name="category" id="category">
                      <option selected value="Monochromatic">Monochromatic</option>
                      <option value="Complementary">Complementary</option>
                      <option value="Color Triads">Color Triads</option>
                      <option value="Split Complementary">Split Complementary</option>
                      <option value="Warm Colors">Warm Colors</option>
                      <option value="Cool Colors">Cool Colors</option>
                    </select>
                </div>
              <!-- </div> -->
          
              <!-- <div class="form-row"> -->
              <div class="form-group col-md-12">
                  <label for="colorType">Color Type</label>
                  <select class="form-control form-control-sm" name="colorType" id="colorType">
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                    <option selected value="Tertiary">Tertiary</option>
                    <option value="None">None</option>
                    </select>
                </div>
              <!-- </div> -->
                      
              <!-- <div class="form-row"> -->
              <div class="form-group col-md-12">
                  <label for="inputEmail4">Hex</label>
                  <input type="text" class="form-control form-control-sm" name="hex" id="hex" value="{{hex}}" placeholder="hex">
                </div>
              <!-- </div> -->
              <button type="submit" class="btn btn-sm btn-secondary float-right mr-3">Update Color</button>
    </form>
</div>
</div>
</div>